{:name          "core"
 :output-folder "output"
 :develop       {:image      "nginx:1.19"
                 :ports      [{:from 8080
                               :to   30080
                               :id   "main" }]
                 :volumes    [{:path      "/var/www/html"
                               :host-path "/html"
                               :mode      :rw
                               :id        "webroot"}]
                 :deployment {:type   :anywhere
                              :number 1}}
 :production    {:image      "nginx:1.18"
                 :ports      :develop
                 :volumes    :develop
                 :deployment {:type   :anywhere
                              :number 2}}
 :staging       :production}
